{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "implicit-arrow-linebreak": "off",
    "indent": "off",
    "no-trailing-spaces": "error",
    "linebreak-style": "off",
    "arrow-parens": "off",
    "quotes": "off",
    "object-curly-newline": "off",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
